<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>

    <div class="homeL"><a href="{{ url_for('home')}}">Home</a></div>
    <h1>Register down below!</h1>
   <form method="POST" action="{{ url_for('register')}}">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required minlength="6">
    <small class="form-hint">Password must be at least 6 characters</small>
    <button type="submit">Register</button>
    <a href="{{url_for('login')}}">Already have an account? Login!</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{category}}">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
   </form>
</body>
</html>